$headerHeight: 70px;

#root {
  height: 100vh;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.header {
  height: $headerHeight;
}

.routes {
  height: calc(100% - $headerHeight);
  overflow: auto;
}
